{% extends 'base.html' %}

{% block header %}
<div class="d-flex mt-5 p-4">
  <div class="flex-grow-1">
    <h1>{% block title %}Your art{% endblock %}</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="justify-content-center">
  <div class="class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 500 }'>
      {% for artpiece in artpieces %}
        {% include 'art/artpiece.html' %}
      {% endfor %}
  </div>
</div>
<div class="">
  {% if g.user %}
    {% include 'art/artpiece_create.html' %}
  {% endif %}
</div>
{% endblock %}
