<div class="card border-primary m-2" style="min-width: 30rem; max-width: 45rem;">
  <div class="d-flex card-header">
    <div class="flex-grow-1">
      <h3 class="">{{ post['title'] }}</h3>
    </div>
    <div class="">
      {% if g.user['id'] == post['author_id'] %}
        {% include 'explore/post_update.html' %}
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Posted by {{ post['username'] }}</h5>
    <h6 class="card-subtitle text-muted">On {{ post['created'].strftime('%d-%m-%Y') }}</h6>
    <p class="card-text mt-2">{{ post['body'] }}</p>
  </div>
</div>
  <!-- image of artpiece can come here later -->
